.table {
    margin-bottom: 20px;
    border: 15px solid #F5D7BF;
    border-top: 5px solid #F5D7BF;
    border-collapse: collapse;
    text-align: center;
}
.table th {
    font-weight: bold;
    padding: 5px;
    background: #F5D7BF;
    border: none;
    border-bottom: 5px solid #F5D7BF;
}
.table td {
    padding: 5px;
    border: none;
    border-bottom: 5px solid #F5D7BF;
}
.layer {
    width: 175px;
}