<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый пользователь</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<form th:method="POST" th:action="@{/users}" th:object="${userForm}">
    <div>
        <label for="name">Имя:</label>
    </div>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <br/>
    <div>
        <label for="last_name">Фамилия:</label>
    </div>
    <input type="text" th:field="*{lastName}" id="last_name"/>
    <br/>
    <br/>
    <div>
        <label for="email">E-mail:</label>
    </div>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <br/>
    <input class="layer" type="submit" value="Создать"/>
    <br/>
    <br/>
    <input class="layer" type="button" onclick="history.back()" value="Назад"/>
</form>
</body>
</html>