<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список пользователей</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<table class="table table-success table-striped">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Имя</th>
        <th scope="col">Фамилия</th>
        <th scope="col">E-mail</th>
        <th scope="col">#</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user: ${users}">
        <td th:text="${user.id}"/>
        <td th:text="${user.name}"/>
        <td th:text="${user.lastName}"/>
        <td th:text="${user.email}"/>
        <td> <a th:href="@{/users/{id}(id=${user.getId()})}" th:text="..."/> </td>
    </tr>
    </tbody>
</table>
<br/>
<hr/>
<a th:href="@{/new_user}">Создать нового пользователя</a>
</body>
</html>